# Solana RPC (recommended: Helius with API key for production)
NEXT_PUBLIC_RPC_ENDPOINT="https://api.mainnet-beta.solana.com"

# Your wallet address — creator fee (5%) dari setiap bet masuk ke sini
NEXT_PUBLIC_PLATFORM_CREATOR="DmytSLJ7jgpM6tSNLGDVn9n1KbKCqydKsR9vTVTHH6c1"
